$color-primary: #185f8e;
$color-primary-dark: #07315b;
$color-primary-light: #2980b9;

$color-footer: #353535;

$color-grey-light-1: #f5f5f5;
$color-grey-light-2: #ddd;
$color-grey-light-3: rgb(155, 155, 155);

$color-grey-dark-1: #878787;
$color-grey-dark-2: #555;
$color-grey-dark-3: #373737;

$shadow-dark: 0 0.5rem 4rem rgba(0,0,0,0.6);

$gradient-primary: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light);
$gradient-primary-reverse: linear-gradient(to right top, $color-primary-dark, $color-primary-light);