.grid {
  background-color: #fff;
  padding: 3rem;
  border-radius: 3px;
  max-width: 120rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include respond(phone) {
    padding: 0; 
  }
}