.tg {}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 10px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 10px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
.tg .tg-ncn7{background-color:#185f8e;vertical-align:top}
.tg .tg-emg1{font-weight:bold;background-color:#e5f0ff;border-color:#999999;text-align:right;vertical-align:top}
.tg .tg-uona{background-color:#f5f5f5;text-align:center;vertical-align:top}
.tg .tg-dfe8{font-weight:bold;background-color:#185f8e;text-align:center;vertical-align:top}
.tg .tg-ozz1{background-color:#f5f5f5;font-weight:bold;border-color:#999999;text-align:right;vertical-align:top}
.tg .tg-dbhw{background-color:#e5f0ff;text-align:center;vertical-align:top}