.card {
  border: 1px solid rgba($color-primary-light, 0.5);
  border-radius: 3px;
  height: 45rem;
  margin: 1vw;
  padding: 2.5rem;
  font-size: 1.6rem;
  color: $color-grey-dark-2;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  cursor: pointer;
  transition: all 0.2s;

  flex: 0 0 28.5%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    height: 8rem;
    width: 8rem;
    fill: $color-primary;
  }
  
  &__list {
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-primary-dark;
    text-transform: uppercase;

    align-self: flex-start;
    list-style: inside;

    li {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__link {
    font-weight: 400;
    opacity: 0.8;
    transition: all 0.2s;
    color: $color-primary;
    margin-top: auto;

    &:hover {
      opacity: 1;
      transform: translateY(-3px);
    }
  }

  &:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.2);
  }

  @include respond(tab-port) {
    flex: 0 0 45%;
  }

  @include respond(phone) {
    height: auto;
    margin: 0;
    margin-bottom: 2rem;

    flex: 0 0 100%;
  }
}