.hamburger {

  &__checkbox {
      display: none;
  }

  &__button {
      background-color: #fff;
      height: 7rem;
      width: 7rem;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      border-radius: 50%;
      z-index: 2000;
      text-align: center;
      cursor: pointer;

      display: none;

      @include respond(tab-port) {
        display: block;
      }
  }

  //ICON
  &__icon {
      position: relative;
      margin-top: 3.5rem;

      &,
      &::before,
      &::after {
          width: 3rem;
          height: 2px;
          background-color: $color-grey-dark-3;
          display: inline-block;
      }

      &::before,
      &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .2s;
      }

      &::before { top: -.8rem; }
      &::after { top: .8rem; }
  }

  &__button:hover &__icon::before {
      top: -1rem;
  }

  &__button:hover &__icon::after {
      top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
      background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
  }
}