.partner {
  &__box {
    margin: 3rem 0;

    flex: 0 0 20%;
    
    &:not(:last-child) {
      margin-right: 5rem;

      @include respond(phone) {
        margin-right: 0;  
      }
    }

    &:nth-of-type(2) {
      @include respond(tab-port) {
        order: 3;
        margin-right: 0;
      }
    }

    @include respond(tab-port) {
      flex: 0 0 35%;
    }

    @include respond(phone) {
      width: 50%;   
    }
  }

  &__img {
    width: 100%;
  } 
}