.partner {
  &__box {
    margin: 2rem;

    flex: 0 0 20%;

    @include respond(tab-port) {
      flex: 0 0 25%;
    }

    @include respond(phone) {
      flex: 0 0 35%;   
    }
  }

  &__img {
    width: 100%;
  } 
}