@keyframes bounce {
  0% {
    transform: translateY(0);
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.6);
  }

  50% {
    transform: translateY(-1rem);
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.4);
  }

  100% {
    transform: translateY(0);
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.6);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  70% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}