.mb-xs {
  margin-bottom: 1rem !important;
}

.mb-sm {
  margin-bottom: 2rem !important;
}

.mb-md {
  margin-bottom: 4rem !important;
}

.mb-lg {
  margin-bottom: 6rem !important; 
}

.mb-xl {
  margin-bottom: 8rem !important; 
}

.mr-md {
  margin-right: 4rem !important;
}

.show {
  transform: scaleY(1) !important;
}

.toggle {
  height: 100% !important;
}

.fl-left {
  float: left;
  margin-right: 2rem;
}

.fl-right {
  float: right;
  margin-left: 2rem;
}

.inline {
  display: inline;
}

.center-text {
  text-align: center;
}

.justify {
  text-align: justify;
}

.italic {
  font-style: italic
}

.red {
  color: #c6331f;
}

.green {
  color: green;
}

.current-page {
  background-color: $color-grey-light-1;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.scale {
  transform: scale(1) !important;
}

.active {
  background-color: $color-primary-light;
}

.max-width {
  max-width: 120rem !important;
}